body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.design{
    text-decoration: line-through;
}
input , button{
    padding: 0.75rem;
}




li , p{
    margin-bottom: 0.75rem;

}
